@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scroll-behavior: smooth;
}

.hero-gradient {
    background-clip: text;
    color: transparent;
    background: linear-gradient(-170deg, #00dbde, #5596ff 32%, #c65ae7 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.x-container {
    @apply 2xl:px-28 xl:px-28 lg:px-16 sm:px-10 px-10
}

.industries-card {
    @apply w-full h-full
    /* @apply 3xl:w-[450px] 2xl:w-[350px] xl:w-[350px] lg:w-[425px] md:w-[350px] sm:w-[450px] xs:w-full 3xl:h-[300px] 2xl:h-[200px] xl:h-[200px] lg:h-[225px] md:h-[200px] sm:h-[300px] xs:h-full w-[350px] h-[200px] */
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(113, 194, 239, .2);
    -webkit-border-radius: 10px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: #71C2EF;
}